# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class
.pytest_cache/
.mypy_cache/
.coverage

# C extensions
*.so

# Distribution / packaging
env/
build/
dist/
*.egg-info/
.eggs/
venv

# Other
flycheck*.py
Makefile
.vscode/
