[MASTER]
jobs=2

[MESSAGES CONTROL]
disable=
    missing-docstring,
    no-else-return,
    line-too-long,
    too-few-public-methods,
    unused-argument,
    superfluous-parens,
    unnecessary-lambda-assignment,
    use-implicit-booleaness-not-comparison,
    cyclic-import,
    too-many-arguments,
    comparison-with-callable,
